:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #eee;
    background-color: rgb(21, 21, 21);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --gold-color: #ffd900;
}

body {
    margin: 0;
}

p {
    user-select: none;
}

#app {
    margin: 0 auto;
    padding: 2rem;
}